#about {
  background-color: #222831;
  width: 100%;
  display: flex;
  padding: 0 10vh;
  font-family: "Russo One", sans-serif;
  flex-flow: row wrap;
}

.about_me {
  position: relative;
  margin: 100px 0px 0px 0px;
  width: 100%;
  flex-flow: row wrap;
  display: flex;
  padding-bottom: 100px;
}

#page_heading {
  color: #6ab6b8;
  font-size: 50px;
  justify-content: center;
  display: flex;
  width: 100%;
}

#page_content1 {
  color: #fcc41f;
  font-size: 23px;
  margin: 13vh 0vh 0vh 10vh;
  max-width: 55vh;
  text-align: center;
  width: 40%;
}
#page_content2 {
  color: #fcc41f;
  font-size: 23px;
  margin: 13vh 0vh 0vh 50vh;
  max-width: 55vh;
  text-align: center;
  width: 30%;
}
#page_content3 {
  color: #fcc41f;
  font-size: 23px;
  margin: 15vh 0vh 0vh 8vh;
  max-width: 55vh;
  text-align: center;
  width: 30%;
}
#page_content4 {
  color: #fcc41f;
  font-size: 23px;
  margin: 15vh 0vh 0vh 53vh;
  max-width: 55vh;
  text-align: center;
  width: 30%;
}
#page_content5 {
  color: #fcc41f;
  font-size: 23px;
  margin: 14vh 0vh 0vh 16vh;
  max-width: 55vh;
  text-align: center;
  width: 30%;
}
#page_content6 {
  color: #fcc41f;
  font-size: 23px;
  margin: 14vh 0vh 0vh 36vh;
  max-width: 55vh;
  text-align: center;
  width: 30%;
}

#thanos_gauntlet {
  position: absolute;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#thanos_gauntlet .image {
  max-width: 60%;
}

@media (max-width: 500px) {
  #page_content1 {
    font-size: 17px;
    margin: 20px 0px 0px 0px;
    width: 100%;
    padding: 10px 0px 15px 0px;
  }
  #page_content2 {
    font-size: 17px;
    padding: 10px 0px 15px 0px;
    margin: 0px;
    width: 100%;
  }
  #page_content3 {
    font-size: 17px;
    padding: 10px 0px 15px 0px;
    margin: 0px;
    width: 100%;
  }
  #page_content4 {
    font-size: 17px;
    padding: 10px 0px 15px 0px;
    margin: 0px;
    width: 100%;
  }
  #page_content5 {
    font-size: 17px;
    padding: 10px 0px 15px 0px;
    margin: 0px;
    width: 100%;
  }
  #page_content6 {
    font-size: 17px;
    padding: 10px 0px 15px 0px;
    width: 100%;
    margin: 0px;
  }

  .about_me {
    margin: 50px 0px 0px 0px;
    flex-flow: column;
    padding-bottom: 50px;
  }
  #thanos_gauntlet {
    position: static;
    margin-top: 0px;
  }
  #about {
    padding: 0 5vh;
  }
  #page_heading {
    font-size: 30px;
  }
}
