.navbar {
  background: #222831;
  padding: 0 150px;
  font-family: "Russo One", sans-serif;
}

#logo {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fcc41f;
  letter-spacing: 2.5px;
}

#nav-link {
  padding: 17px 20px;
  color: #fcc41f;
  font-weight: 500;
  font-size: 1.15rem;
}

#logo:hover,
#nav-link:hover {
  color: #e0a500;
  transform: scale(1.1);
}

#util_logo {
  padding: 0px 5px 5px 5px;
  height: 30px;
  width: 30px;
}

@media (max-width: 500px) {
  .navbar {
    justify-content: center;
  }
}
